App_WebReferences/PassBook/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vb-dc-epbka:1985/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://vb-dc-epbka:1985/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vb-dc-epbka:1985/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_PassBookService_InputMessage">
    <wsdl:part name="parameters" element="tns:PassBookService" />
  </wsdl:message>
  <wsdl:message name="IService_PassBookService_OutputMessage">
    <wsdl:part name="parameters" element="tns:PassBookServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEntry" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEntryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetId" />
  </wsdl:message>
  <wsdl:message name="IService_GetId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="PassBookService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PassBookService" message="tns:IService_PassBookService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PassBookServiceResponse" message="tns:IService_PassBookService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteEntry" message="tns:IService_DeleteEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteEntryResponse" message="tns:IService_DeleteEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetId" message="tns:IService_GetId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIdResponse" message="tns:IService_GetId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PassBookService">
      <soap:operation soapAction="http://tempuri.org/IService/PassBookService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEntry">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetId">
      <soap:operation soapAction="http://tempuri.org/IService/GetId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://vb-dc-epbka:1985/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>